/* src/styles/style.css */
@import '~modern-normalize/modern-normalize.css';

/* npm install modern-normalize --save */

:root {
  line-height: 1.5;
  --backgroundColor: rgb(72, 46, 38);
  --fontColor: rgb(253, 246, 211);
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* DANTE CODE HERE -----------*/

* {
  color-scheme: dark;
}

body {
  color: var(--fontColor);
  font: 1em / 1.4 Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

form h2 {
  text-align: center;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 5px;
}

li {
  display: flex;
  flex-direction: column;
  align-self: center;
}

input:invalid {
  border-color: red;
  background-color: darkgreen;
}

input:focus:invalid {
  outline: none;
}

.error {
  width: 100%;
  padding: 0;
  font-size: 0.8rem;
  color: wheat;
  border-radius: 0 0 5px 5px;
}